.pokedex {
  margin: 10px 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 4%;
}

button {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin-top: 4%;
  opacity: 0.8;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

#filter-btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#filter-btns button {
  padding: 10%;
  margin: 2%;
}